.Facebook .box-left{
    width: 50%;
    height: 100vh;
    float: left;
    background-color: rgb(236, 240, 243);
}
.Facebook .box-left img{
    margin: 35px;
    width: 40%;
    margin-top: 150px;
    margin-left: 150px;
}
.Facebook .box-left h1{
    margin: 10px;
    margin-left: 150px;
    margin-top: 0px;
}
.Facebook .box-right{
    background-color: rgb(236, 240, 243);
    float: right;
    width: 50%;
    height: 100vh;
}
.Facebook .box-right .one{
    background-color: rgb(255, 255, 255);
    width: 58%;
    height: 56vh;
    border-radius: 8px;
    position: relative;
    text-align: center;
    margin-top: 150px;
}
.Facebook .box-right .one input{
    width: 90%;
    height: 8vh;
    border-radius: 90px;
    margin:5px;
    border-color: rgb(160, 154, 154);
    border-radius: 8px;
    margin-top: 17px;
}
.Facebook .box-right .one .Create{
    background-color: rgb(39, 179, 39);
    width: 50%;
    height: 8vh;
    border-radius: 90px;
    margin:5px;
    border-radius: 8px;
    font-size: large;
    font-weight: 550;
}

.Facebook .box-right .one button{
    background-color: rgb(125, 125, 247);
    color: rgb(255, 255, 255);
    width: 90%;
    border: none;
    height: 8vh;
    border-radius: 8px;
}
.Facebook .box-right h4{
    margin: 16px;
}
 .Facebook h5{
     color: rgb(129, 125, 120);
     font-weight: 100;
 }
 .Facebook .box-right .one .log{
    font-size: larger;
    font-weight: 550;
}